#title {
  text-align: center;
  margin: 50px 0px 20px 0px;
}

#input-todo {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

#todo-list {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}